
@{
    ViewBag.Title = "Form";
}

<div class="tm-bg-primary-dark tm-block tm-block-settings">
    <h2 class="tm-block-title">Cadastrar novo cliente</h2>
    <form action="Adicionar" method="post" class="tm-signup-form row">


        <div class="form-group col-lg-6">
            <label for="nomeCompleto">Nome Completo</label>
            <input id="nomeCompleto" name="nomeCompleto" type="text" class="form-control validate" />
        </div>
        <div class="form-group col-lg-6">
            <label for="cpf"> CPF </label>
            <input id="cpf" name="cpf" type="text" class="form-control validate" />
        </div>
        <div class="form-group col-lg-6">
            <label for="cnpj"> CNPJ </label>
            <input id="cnpj" name="cnpj" type="text" class="form-control validate" />
        </div>
        <div class="form-group col-lg-6">
            <label for="endereco">Endereço</label>
            <input id="endereco" name="endereco" type="text" class="form-control validate" />
        </div>


        <div class="form-group col-lg-6">
            <label for="situacaoJuridica"> Situacao Juridica </label>
            <input id="situacaoJuridica" name="situacaoJuridica" type="text" class="form-control validate" />
        </div>

        <div class="form-group col-lg-6">
            <label for="categoria">Categoria</label>
            <input id="categoria" name="categoria" type="text" class="form-control validate" />
        </div>

        <div class="form-group col-lg-6">
            <label for="associados">Associados ao contrato</label>
            <input id="associados" name="endereco" type="text" class="form-control validate" />
        </div>





        <div class="form-group col-lg-6">
            <label class="tm-hide-sm">&nbsp;</label>
            <button type="submit" class="btn btn-primary btn-block text-uppercase">
                Cadastrar
            </button>
        </div>
    </form>
</div>
