
@{
    ViewBag.Title= "Empresa";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css'>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="tm-block-title mb-4">Cadastro de Empresa</h2>
        </div>
    </div>
    <div>
        <form action="Empresa/Adicionar">
            <label for="nome">Nome da Empresa</label>
            <input id="Mome" nome="Nome" />

            <input type="submit" value="Cadastrar" />
    </div>

    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="./script.js"></script>


</body>
</html>
