
@{
    ViewBag.Title = "Listar";
}

<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <h2 class="tm-block-title">Relação de Empresas</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Nome da empresa</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empresa in ViewBag.EmpresaSet)
            {
                <tr>
                    <th scope="col">&nbsp;</th>
                    <td class="tm-product-name">@empresa.NomeEmpresa</td>
                    <th scope="col">&nbsp;</th>
                    <td>
                        <a href="#" class="tm-product-delete-link">
                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

