
@{
    ViewBag.Title = "Form";
}


<div class="tm-bg-primary-dark tm-block tm-block-settings">
    <h2 class="tm-block-title">Cadastrar novos documentos</h2>
    <form action="Adicionar" method="post" enctype="multipart/form-data" class="tm-signup-form row">
        <div class="form-group col-lg-6">
            <label for="descricao">Descrição do documento</label>
            <input id="descricao" name="descricao" type="text" class="form-control validate" />
        </div>
        <div class="form-group col-lg-6">
            <label for="idCliente">ID do cliente</label>
            <input id="idCliente" name="idCliente" type="text" class="form-control validate" />
        </div>
        <div class="form-group col-lg-6">
            <label for="idContrato">Id do Contrato</label>
            <input id="idContrato" name="idContrato" type="text" class="form-control validate" />
        </div>




        <div class="form-group col-lg-6">
            <label for="tipo">Tipo</label>
            <input id="tipo" name="tipo" type="text" class="form-control validate" />
        </div>

        <div class="form-group col-lg-6">
            <label for="tamanho">Tamanho</label>
            <input id="tamanho" name="tamanho" type="text" class="form-control validate" />
        </div>



        <div class="form-group col-lg-6">
            <label class="tm-hide-sm">&nbsp;</label>
            <input id="arquivo" type="file" style="display:none;">
            <input type="button" class="btn btn-primary btn-block text-uppercase" value="Fazer upload do documento" onclick="document.getElementById('fileInput').click();">
        </div>

        <div class="form-group col-lg-6">
            <input id="arquivo" name="arquivo" type="file" />
            <p id="msg"></p>
        </div>

        <div class="form-group col-lg-6">
            <label for="idCliente" class="tm-hide-sm">&nbsp;</label>
            <button type="submit" class="btn btn-primary btn-block text-uppercase">
                Cadastrar
            </button>
        </div>

        <a href="~/uploads/ajax1.zip">Teste</a>


    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var interval = 0;
        var options = {
            action: 'upload.ashx',
            autoSubmit: true,
            onSubmit: function (file, ext) {
                {
                    var button = $('#msg')
                    button.text('Uploading');
                    this.disable();
                    interval = window.setInterval(function () {
                        {
                            var text = button.text();
                            if (button.text().length < 13) {

                                {
                                    button.text(button.text() + '.');
                                }
                            } else {

                                {
                                    button.text('Uploading');
                                }
                            }
                        }
                    }, 200);
                }
            },
            onComplete: function (file, response) {
                var button = $('#msg')
                button.text(response.toString());
                button.removeClass('hover');
                window.clearInterval(interval);
                this.enable();
            }
        };
        new AjaxUpload('#myFileUpload', options);
    });
</script>





