
@{
    ViewBag.Title = "Form";
}


<div class="tm-bg-primary-dark tm-block tm-block-settings">
    <h2 class="tm-block-title">Cadastrar novos documentos</h2>
    <form action="Adicionar" method="post" class="tm-signup-form row">
        <div class="form-group col-lg-6">
            <label for="descricao">Descrição do documento</label>
            <input id="descricao" name="descricao" type="text" class="form-control validate" />
        </div>
        <div class="form-group col-lg-6">
            <label for="idCliente">ID do cliente</label>
            <input id="idCliente" name="idCliente" type="text" class="form-control validate" />
        </div>
        <div class="form-group col-lg-6">
            <label for="idContrato">Id do Contrato</label>
            <input id="idContrato" name="idContrato" type="text" class="form-control validate" />
        </div>



        <div class="form-group col-lg-6">
            <label class="tm-hide-sm">&nbsp;</label>
            <input id="fileInput" type="file" style="display:none;">
            <input type="button" class="btn btn-primary btn-block text-uppercase" value="Fazer upload do documento" onclick="document.getElementById('fileInput').click();">
        </div>
         

        <div class="form-group col-lg-6">
            <label for="idCliente" class="tm-hide-sm">&nbsp;</label>
            <button type="submit" class="btn btn-primary btn-block text-uppercase">
                Cadastrar
            </button>
        </div>



    </form>
</div>



<div class="form-group col-lg-6">
    <label class="tm-hide-sm">&nbsp;</label>
    <input id="file" type="file" class="btn btn-primary btn-block text-uppercase">
</div>
