
@{
    ViewBag.Title = "Listar";
}

<div class="tm-product-table-container">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead>
            <h2 class="tm-block-title">Relação de contratos</h2>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Titular do contrato</th>
                <th scope="col">Valor total</th>
                <th scope="col">Garantias</th>
                <th scope="col">empresaIdEmpresa</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contrato in ViewBag.ContratoSet)
            {
            <tr>
                <th scope="col">&nbsp;</th>
                <td class="tm-product-name">@contrato.NomeTitular</td>
                <td>@contrato.ValorContrato</td>
                <td>@contrato.Garantia</td>
                <td>@contrato.EmpresaIdEmpresa</td>
                <th scope="col">&nbsp;</th>
                <td>
                    <a href="#" class="tm-product-delete-link">
                        <i class="fas fa-pencil-alt"></i>
                </td>
                <td>
                    <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

